### Project 4: Continued 
In the previous notebook, I did all the processing I could within the memory limitations of my laptop. I exported the cleaned CSV and starting with a clean kernel to One Hot encode the data so that the customers are the index and each column is a movie. I will also explore PCA.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#read the previously cleaned csv
df = pd.read_csv('combined_data_cleaned.csv')
df = df.astype('uint32')

### Continuing to Reduce Data Size 
Need to reduce size of data still. In the previous notebook, somewhat methodical methods of compression were implemented. The data was reduced a considerable amount. But it is still too large for some of the operations I want to complete. At this point we'll randomly drop customers and movies using the function below.

In [8]:
'''
this is slow and stupid lol
'''

import typing as T
import random as rand

#Drop random indices from given list
def drop_random(values: list, length: int, proportion: float):
    num_to_drop = length -  int(length*proportion)
    to_drop = random.sample(range(length), num_to_drop)
    return np.delete(values, to_drop, axis=None)

In [4]:
%%time
#get customer and movie unqique values
customers = df.Cust_Id.value_counts().index
movies = df.Movie_Id.value_counts().index

# get random customers and movies to drop
customers_to_drop = drop_random(customers, len(customers), .1)
movies_to_drop = drop_random(movies, len(movies), .3)

#drop the random customers and movies
df_trimmed = df[df['Cust_Id'].isin(customers_to_drop)]
df_trimmed = df_trimmed[df_trimmed['Movie_Id'].isin(movies_to_drop)]
del df

CPU times: user 1min 4s, sys: 117 ms, total: 1min 4s
Wall time: 1min 4s

One minute wall time...

In [5]:
print("Customer count before drop:\t", len(customers))
print("Movie count before drop:\t", len(movies))
print("Customer count after drop:\t", len(df_trimmed.Cust_Id.value_counts().index))
print("Movie count after drop:\t\t", len(df_trimmed.Movie_Id.value_counts().index))

Customer count before drop:	 291590
Movie count before drop:	 16031
Customer count after drop:	 29159
Movie count after drop:		 4785

In [6]:
df_trimmed.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1097690 entries, 1948 to 34996864
Columns: 3 entries, Cust_Id to Movie_Id
dtypes: uint32(3)
memory usage: 20.9 MB

In [7]:
#rearrange data frame so that customers and rows and movies are columns
df_pivot = df_trimmed.pivot_table(index = 'Cust_Id', columns = 'Movie_Id', values = 'Rating')
del df_trimmed

In [8]:
df_pivot.shape

(29159, 4785)

In [10]:
df_pivot

Movie_Id,8,10,13,16,17,21,24,29,37,40,...,17734,17737,17742,17748,17751,17754,17756,17757,17759,17762
Cust_Id,,,,,,,,,,,,,,,,,,,,,
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2648956,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# export reformatted data 
df_pivot.to_csv('data_pivot.csv')